/* Base */
::-moz-placeholder {
  color: rgba(33,33,33,0.4);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(33,33,33,0.4);
}
::-webkit-input-placeholder {
  color: rgba(33,33,33,0.4);
}
body {
  font-size: 1rem;
  line-height: 1.4;
  /* %CSS_FONT_FAMILY% */
}
body:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  background-color: #000;
  transition: opacity 0.2s ease;
}
body.overlay:after {
  opacity: 0.75;
  z-index: 500;
  visibility: visible;
}
body.no-scroll {
  overflow-y: hidden;
}
h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 32px;
}
h3, .h3 {
  font-size: 30px;
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 18px;
  line-height: 1.275;
}
h6, .h6 {
  font-size: 15px;
  line-height: 1.4;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-light-color);
}
a[href^="mailto:"],
a[href^="tel:"] {
  color: inherit;
}
@media (hover: hover) {
  a[href^="tel:"] {
    cursor: text;
    pointer-events: none;
  }
}
a, button, input[type="submit"] {
  outline: 0 !important;
}
b, strong {
  font-weight: 600;
}
ol, ul {
  padding-left: 1.2rem;
}
ol.alpha-list {
  list-style-type: lower-alpha;
}
hr {
  border: 0;
  margin: 2rem 0;
  border-top: 1px solid var(--border-color);
}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
select, textarea {
  color: inherit;
  border-radius: 0;
  border: 1px solid var(--border-color);
  transition: border-color .15s ease, box-shadow .15s ease;
}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]):focus,
select:focus, textarea:focus {
  outline: 0;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(39,39,39,.25);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

/* Classes */
.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.badge {
  padding: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 1.1;
  font-size: 0.6667rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 8px;
}
.count > .badge {
  position: absolute;
  top: -4px;
  right: -4px;
  box-shadow: 0px 0px 0px 2px var(--white-color);
}
.site-logo,
.site-title {
  margin: 0;
}
.site-title {
  font-size: 2.4rem;
}
.site-logo {
  font-size: inherit;
  line-height: 1;
}
.site-logo img {
  width: auto;
  height: auto;
  max-width: 250px;
  /* max-height: TODO; */
  image-rendering: -webkit-optimize-contrast;
}
[class^="site-"] a,
[class^="site-"] a:hover,
[class^="site-"] a:focus {
  text-decoration: none;
}
.icon {
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook {
  margin-right: -4px;
  margin-left: -2px;
}
.icon > svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
  transition: fill 0.2s ease;
}
a:hover .icon > svg {
  fill: var(--primary-light-color);
}
.flat-list
.navbar ul,
.widget_nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.navbar {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar__nav {
  background-color: var(--primary-color);
}
.navbar__nav > li {
  font-weight: 400;
  text-transform: uppercase;
  /* TODO */
}
.navbar__nav > li > a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: background-color 0.2s ease;
}
.navbar__nav > li > a:hover,
.navbar__nav > li > a:focus,
.navbar__nav > li > .sub-menu a:hover,
.navbar__nav > li > .sub-menu a:focus {
  text-decoration: none;
}
.navbar__nav > li > a:hover,
.navbar__nav > li > a:focus,
.navbar__nav > li.current-menu-item > a {
  background-color: var(--primary-dark-color);
}
.navbar__nav > li > .sub-menu {
  padding: 0.5rem 0;
  background-color: rgba(255,255,255,0.075);
}
.navbar__nav > li > .sub-menu > li + li {
  margin-top: 0.4rem;
}
.navbar__nav > li > .sub-menu > li > a {
  color: var(--white-color);
}
@media (hover: none) {
  .navbar__nav > li:not(.active) > .sub-menu {
    display: none;
  }
  .navbar__nav > li.menu-item-has-children > a:after {
    content: '';
    width: 10px;
    height: 10px;
    line-height: 1;
    font-weight: 400;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    transform: rotate(90deg);
    filter: brightness(0) invert(1);
    background-size: 10px auto;
    background-position: center;
    background-image: url('../img/list-chevron.svg');
  }
  .navbar__nav > li.menu-item-has-children.active > a:after {
    transform: rotate(-90deg);
  }
}
@media (hover: hover) and (min-width: 992px) {
  .navbar__nav > li > .sub-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease 0.2s;
  }
  .navbar__nav > li.active:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s, visibility 0.2s ease 0s;
  }
  .navbar__nav > li > .sub-menu > li > a {
    transition: color 0.2s ease;
  }
}
.navbar__toggle,
.navbar__search,
.navbar__cart {
  padding: 0;
  display: block;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.navbar__toggle {
  position: relative;
  z-index: 0;
}
.navbar__toggle.dismiss {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 1060;
}
.navbar__toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--white-color);
}
.navbar__toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar__toggle .icon-bar:nth-of-type(2),
.navbar__toggle .icon-bar:nth-of-type(4) {
  transform: rotate(0);
  transition: background-color 0.2s ease, transform 0.2s ease 0.175s;
}
.navbar__toggle .icon-bar:nth-of-type(2) {
  transform-origin: 10% 10%;
}
.navbar__toggle .icon-bar:nth-of-type(3) {
  opacity: 1;
  transition: background-color 0.2s ease, opacity 0.2s ease 0.175s;
}
.navbar__toggle .icon-bar:nth-of-type(4) {
  transform-origin: 10% 90%;
}
.navbar__toggle.dismiss .icon-bar:nth-of-type(2) {
  transform: rotate(45deg);
}
.navbar__toggle.dismiss .icon-bar:nth-of-type(3) {
  opacity: 0;
}
.navbar__toggle.dismiss .icon-bar:nth-of-type(4) {
  transform: rotate(-45deg);
}
.navbar__cart:hover,
.navbar__cart:focus
.navbar__search:hover,
.navbar__search:focus {
  text-decoration: none;
}
.navbar__cart .icon > svg,
.navbar__search .icon > svg {
  fill: var(--white-color);
}
.navbar__cart {
  position: relative;
  margin-right: 7.5px;
}
.header__main {
  height: 56px;
  /* TODO */
}
.header__search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 600;
  padding: 4px;
  background-color: var(--white-color);
  transform: translateY(-100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
body.overlay .header__search {
  opacity: 1;
  transform: translateY(0%);
}
.header__search > .search-form input {
  width: 100%;
  height: 72px;
  display: block;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
}
.header__search .search-form .btn-search:not(.dismiss) {
  display: none;
  visibility: hidden;
}
.lang-menu {
  display: inline-block;
  position: relative;
  padding: 1px 0.5rem;
  text-align: center;
  z-index: 200;
}
.lang-menu > span {
  cursor: pointer;
  touch-action: manipulation;
  background-color: var(--white-color);
}
.lang-menu > span:after {
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: baseline;
  background-image: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MDQuMjU3IDQwNC4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQwNC4yNTcgNDA0LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+Cjxwb2x5Z29uIHBvaW50cz0iMzg2LjI1NywxMTQuMzMxIDIwMi4xMjgsMjUyLjQyNyAxOCwxMTQuMzMxIDAsMTM4LjMzMSAyMDIuMTI4LDI4OS45MjcgNDA0LjI1NywxMzguMzMxICIgZmlsbD0iIzAwMDAwMCIvPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K');
  background-position: center;
  background-size: auto 100%;
  transition: transform 0.2s ease;
}
.lang-menu.open > span:after {
  transform: rotate(-180deg);
}
.lang-menu__dropdown {
  display: none;
  padding: 1.75rem 0 0.5rem;
  background-color: var(--white-color);
  box-shadow: 0 0 0px rgba(34,34,34,0);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  position: absolute;
  text-align: left;
  top: -2.5px;
  left: -2.5px;
  right: -2.5px;
  z-index: -1;
}
.open .lang-menu__dropdown {
  box-shadow: 0 0 6px rgba(34,34,34,0.15);
}
.lang-menu__dropdown > li {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
.lang-menu__dropdown > li + li {
  margin-top: 2.5px;
}
.lang-menu__dropdown > li > a {
  color: inherit;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.lang-menu__dropdown > li > a:hover {
  color: var(--primary-color);
}
.lang-menu__dropdown > li > a,
.lang-menu__dropdown > li > a:hover,
.lang-menu__dropdown > li > a:focus {
  text-decoration: none;
}
.social-bar > li {
  display: inline-block;
}
.social-bar > li > a,
.social-bar > li > a:hover,
.social-bar > li > a:focus {
  text-decoration: none;
}
.social-bar > li + li {
  margin-left: 7.5px;
}
.search-form {
  position: relative;
}
.search-form input[name="s"] {
  padding-right: 40px;
}
.search-form .btn-search {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  border: none;
  min-width: inherit;
  height: calc(100% - 2px);
  padding: 0 0.5rem 0 0;
  background: none;
}
.search-form .btn-search:hover,
.search-form .btn-search:focus {
  opacity: 0.7;
}
.widget + .widget {
  margin-top: 35px;
}
.widget-title,
.widget-cf7-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.widget-title {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--primary-color);
}
.widget_categories ul,
.widget_recent_entries ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_categories ul li,
.widget_recent_entries ul li {
  padding-left: 1.2rem;
  background-size: 10px 16px;
  background-position: 0 4px;
  background-repeat: no-repeat;
  background-image: url('../img/list-chevron.svg');
}
.widget_categories ul li + li,
.widget_recent_entries ul li + li {
  margin-top: 0.5rem;
}
.widget_categories ul li a,
.widget_recent_entries ul li a {
  color: var(--text-color);
}
.widget_categories ul li a:hover,
.widget_categories ul li a:focus,
.widget_recent_entries ul li a:hover,
.widget_recent_entries ul li a:focus {
  color: var(--text-light-color)
}
.fwidget {
  font-size: 0.9333rem;
}
.fwidget-title {
  font-size: 1.0667rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--white-color);
}
.fwidget img {
  margin-bottom: 1.6rem;
  image-rendering: -webkit-optimize-contrast;
}
.fwidget ul > li {
  text-transform: uppercase;
}
.fwidget ul > li:not(:first-child) {
  margin-top: 0.8rem;
}
.not-found {
  text-align: center;
}
.not-found__text {
  color: var(--primary-color-dark);
  font-size: 132px;
  margin-bottom: 1rem;
}
.not-found__desc p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Content */
#main-content {
  margin-top: 60px;
  margin-bottom: 75px;
}

/* Responsive */
@media (min-width: 576px) {
  .not-found__text {
    font-size: 172px;
  }
}
@media (max-width: 991px) {
  .navbar__nav {
    padding: 45px 15px;
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.2s ease-in;
  }
  .navbar__nav.open {
    transform: translateY(0%);
  }
  .navbar__nav > li {
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar__search,
  .navbar__cart {
    position: absolute;
    top: 50%;
    z-index: 100;
  }
  .navbar__search,
  .navbar__cart {
    margin-top: -14px;
  }
  .navbar__search {
    right: 15px;
  }
  .navbar__cart {
    right: 7.5px;
  }
  .with-search .navbar__cart {
    right: 37.5px;
  }
}
@media (min-width: 992px) {
  .navbar__nav {
    display: flex;
    align-items: stretch;
    position: static;
    z-index: inherit;
    overflow-y: inherit;
    background-color: transparent;
    visibility: visible !important;
  }
  .navbar__nav > li > a {
    position: relative;
    display: inline-block;
    padding: 0.3333rem 1.2rem;
    transition: opacity 0.2s ease;
  }
  .navbar__nav > li > a,
  .navbar__nav > li > a:hover,
  .navbar__nav > li > a:focus,
  .navbar__nav > li.current-menu-item > a {
    background-color: transparent;
  }
  .navbar__nav > li > a:hover,
  .navbar__nav > li > a:focus {
    opacity: 0.7;
  }
  .navbar__nav > li > a:before {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.88;
    margin: auto;
    background-color: transparent;
    transition: all 0.2s ease;
  }
  .navbar__nav > li > a:hover:before,
  .navbar__nav > li.active > a:before,
  .navbar__nav > li.current-menu-item > a:before {
    width: calc(100% - 35px);
    background-color: var(--white-color);
  }
  .navbar__nav > li.current-menu-item > a:before {
    opacity: 1;
  }
  .navbar__nav > li.menu-item-has-children {
    position: relative;
  }
  .navbar__nav > li > .sub-menu {
    padding: 1rem;
    min-width: 220px;
    text-align: left;
    position: absolute;
    top: calc(100% + 1px);
    left: 0px;
    right: 0px;
    z-index: 700;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 4px 8px 24px rgba(0,0,0,0.24);
  }
  .navbar__nav > li > .sub-menu > li > a {
    color: var(--primary-light-color);
  }
  .navbar__nav > li > .sub-menu > li > a:hover,
  .navbar__nav > li > .sub-menu > li > a:focus {
    color: var(--primary-color);
  }
  .navbar__toggle {
    display: none;
  }
  .header__main {
    height: 72px;
  }
  .header__search > .search-form input {
    height: 92px;
  }
  .not-found__text {
    font-size: 256px;
  }
}
@media (min-width: 1366px) {
  .not-found__text {
    font-size: 272px;
  }
}

/* WPCF7 */
.wpcf7-form,
.wpcf7-form-control-wrap .wpcf7-list-item-label {
  color: var(--text-color);
}
.wpcf7-form {
  font-size: 1rem;
}
.wp-block-column .wpcf7-form {
  font-size: inherit;
}
.wpcf7-form-control-wrap,
.wpcf7-form-control-wrap > * {
  display: block;
}
.wpcf7-form-control-wrap > * {
  width: 100%;
}
.wpcf7-form-control {
  color: var(--text-color);
  height: 40px;
  padding: 9px 12px;
  border: 1px solid var(--border-color);
  border-radius: 0px;
  background-color: var(--white-color);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.wpcf7-form-control.wpcf7-select {
  color: rgba(34,34,34,0.4);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.wpcf7-form-control-wrap.cf-select {
  position: relative;
}
.wpcf7-form-control-wrap.cf-select:after {
  content: '\25BC';
  color: var(--text-color);
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -5px;
  font-size: 10px;
  line-height: 1;
}
.wpcf7-form-control:focus {
  outline: none !important;
  border-color: var(--text-color);
  box-shadow: 0 0 0 0.2rem rgba(33,33,33,0.15);
}
.wpcf7-form-control.wpcf7-textarea,
.wpcf7-form-control.wpcf7-submit {
  height: auto;
}
.wpcf7-form-control.wpcf7-submit {
  width: 100%;
  display: inline-block;
  border: none;
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  background-image: none;
  background-color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.015em;
  border-radius: 0px;
  text-align: center;
  transition: all 0.2s ease;
}
@media (max-width: 575px) {
  .wpcf7-form-control.wpcf7-submit {
    display: block;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .wpcf7-form-control.wpcf7-submit {
    min-width: 185px;
  }
}
.wpcf7-form-control.wpcf7-submit:focus {
  box-shadow: none !important;
}
.wpcf7-form-control.wpcf7-file,
.wpcf7-form-control.wpcf7-radio,
.wpcf7-form-control.wpcf7-acceptance {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.wpcf7-form-control.wpcf7-radio,
.wpcf7-form-control.wpcf7-acceptance {
  height: auto !important;
  padding: 0 !important;
  border: none !important;
}
.wpcf7-form > .wpcf7-form-control-wrap,
.wpcf7-form > .row > [class^="col-"] > .wpcf7-form-control-wrap {
  margin-bottom: 24px;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item {
  display: block;
  margin: 0 !important;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item > label {
  cursor: pointer;
  touch-action: manipulation;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span {
  display: inline-block;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  line-height: 24px;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:before,
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 16px;
  height: 16px;
  margin: 4px 0;
  border-radius: 50%;
  transition: 0.2s ease;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:before {
  border: 1px solid var(--border-color);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:after {
  transform: scale(0);
  background-color: var(--primary-color);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"]:checked + span:before {
  border-color: var(--primary-color);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"]:checked + span:after {
  transform: scale(0.5);
}
.wpcf7-form-control-wrap.privacy .wpcf7-list-item,
.wpcf7-form-control-wrap.privacy input {
  margin: 0;
}
.wpcf7-form-control-wrap.privacy label {
  font-weight: 400;
}
.wpcf7-form-control-wrap.privacy .wpcf7-list-item-label {
  font-size: inherit;
  display: inline-block;
  white-space: normal;
  padding-left: 30px;
}
.wpcf7-form .wpcf7-acceptance label {
  margin: 0;
  position: relative;
  cursor: pointer;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox] {
	position: absolute;
  visibility: hidden;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:before {
  content: '';
  display: block;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 2px;
  left: 0;
  background: transparent;
  border-radius: 0px;
  border: 1px solid var(--border-color);
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:after {
  content: '\2713';
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 9px;
  width: 9px;
  top: 3px;
  left: 5px;
  visibility: hidden;
  font-size: 12px;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:before {
  background: transparent;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:after {
  visibility: visible;
}
div.wpcf7 .ajax-loader {
  position: absolute;
  margin: -29px 0 0 15px;
  background-image: url('../img/wpcf7-ajax-loader.gif');
  background-size: 100% auto;
  z-index: 100;
}
div.wpcf7-response-output {
  color: #721c24;
  font-size: inherit;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin: 25px 0 0 !important;
  padding: 10px 15px !important;
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
div.wpcf7-mail-sent-ok {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
span.wpcf7-not-valid-tip {
  font-size: 11px !important;
  position: absolute;
  bottom: -16px;
  left: 0;
}
.upload {
  position: relative;
  margin-bottom: 40px;
}
.upload h6 {
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 20px;
}
.upload h6 > small {
  color: inherit;
  font-size: inherit;
  font-weight: 400;
}
.upload .wpcf7-form-control-wrap {
  position: absoluterelative;
}
.upload .wpcf7-form-control-wrap:before {
  content: "Sfoglia...";
  position: absolute;
  left: 0;
  width: 180px;
  cursor: pointer;
  color: var(--white-color);
  font-weight: 500;
  padding: 10px 25px;
  background-color: var(--primary-color);
  text-align: center;
}
.upload .wpcf7-form-control-wrap > input {
  opacity: 0;
  height: 41px !important;
}
.upload span[aria-hidden="true"] {
  position: absolute;
  right: 0;
  left: 200px;
  bottom: 9px;
}

/* Supports */
@supports not (object-fit: cover) {
  /**
   * TODO: add supports
   * @example: img { font-family: 'object-fit: cover; object-position: center;'; }
   */
}
@supports not (mix-blend-mode: multiply) {
  /* TODO: add supports */
}
