/* ! Base */
::-moz-placeholder {
  color: rgba(33,33,33,0.4);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(33,33,33,0.4);
}
::-webkit-input-placeholder {
  color: rgba(33,33,33,0.4);
}
body {
  overflow-x: hidden;
}
body.no-scroll {
  overflow-y: hidden;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  %CSS_FONT_FAMILY%;
}
body:after {
  content: '';
  opacity: 0;
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 510;
  background-color: rgb(0,0,0);
  transition: opacity 0.2s ease-in, visibility 0.05s ease 0.2s;
}
body.overlay:after {
  opacity: 0.6;
  visibility: visible;
  transition: opacity 0.2s ease-out 0.05s, visibility 0.05s ease 0s;
}
h1, .h1 {
  font-size: 34px;
  line-height: 1.1;
}
h2, .h2 {
  font-size: 30px;
  line-height: 1.15;
}
h3, .h3 {
  font-size: 28px;
  line-height: 1.2;
}
h4, .h4 {
  font-size: 24px;
  line-height: 1.275;
}
h5, .h5 {
  font-size: 18px;
  line-height: 1.4;
}
h6, .h6 {
  font-size: 15px;
  line-height: 1.5;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 400;
}
a {
  color: var(--primary-color);
  text-decoration: underline;
}
a:hover {
  color: var(--primary-light-color);
}
a:active:focus {
  color: var(--primary-dark-color);
}
a[href^="mailto:"],
a[href^="tel:"] {
  color: inherit;
}
@media (hover: hover) {
  a[href^="tel:"] {
    cursor: text;
    pointer-events: none;
  }
}
a, button, input[type="submit"] {
  outline: 0 !important;
}
b, strong {
  font-weight: 700;
}
ol, ul {
  padding-left: 1.4rem;
}
ol.alpha-list {
  list-style-type: lower-alpha;
}
hr {
  border: 0;
  margin: 2rem 0;
  border-top: 1px solid var(--border-color);
}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
select, textarea {
  color: inherit;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  transition: border-color 0.15s ease, box-shadow 0.15s ease;
}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]):focus,
select:focus, textarea:focus {
  outline: 0;
  border-color: rgb(33,33,33);
  box-shadow: 0 0 0 0.15rem rgba(33,33,33,0.25);
}
input[disabled]:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
select[disabled], textarea[disabled] {
  background-color: var(--light-color);
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  width: 0;
  height: 0;
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

/* ! Classes */
.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.row--flat {
  margin-left: 0;
  margin-right: 0;
}
.row--vend {
  align-items: flex-end;
}
.row--vcenter {
  align-items: center;
}
.row--hcenter {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  transition: fill 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook {
  margin-right: -4px;
  margin-left: -2px;
}
.icon-down {
  margin-top: -2px;
  margin-right: -4px;
}
.alignfull {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.flat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.badge {
  padding: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 1.1;
  font-size: 0.6667rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 8px;
}
.count > .badge {
  position: absolute;
  top: -4px;
  right: -4px;
  box-shadow: 0px 0px 0px 2px var(--white-color);
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.table td,
.table th {
  text-align: center;
  vertical-align: middle;
  padding: 0.75rem 0.5rem;
  border: 1px solid var(--border-color);
}
.table thead th {
  vertical-align: bottom;
  background-color: var(--border-color);
}
.site-logo {
  max-width: 250px;
  font-size: inherit;
}
.site-logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 73px;
}
.site-title {
  font-size: 1rem;
}
[class^="site-"] {
  margin: 0;
  line-height: 1;
}
[class^="site-"] a,
[class^="site-"] a:hover,
[class^="site-"] a:focus {
  text-decoration: none;
}
.not-found {
  text-align: center;
}
.not-found__text {
  color: var(--primary-color-dark);
  font-size: 132px;
  margin-bottom: 1rem;
}
.not-found__desc p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* ! Buttons */
.btn {
  padding: 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-image: none;
  background-color: transparent;
  letter-spacing: 0.025em;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
.btn,
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn.disabled,
.btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
.btn-container {
  margin-top: 2rem;
}

/* ! Header */

/* ! Footer */

/* ! Navbar: Menu */
.navbar {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
}
.navbar ul a,
.navbar ul a:hover,
.navbar ul a:focus {
  display: block;
  text-decoration: none;
}
.navbar ul .caret,
.navbar ul .icon {
  float: right;
  width: 14px;
  height: 14px;
}
.navbar ul .menu-item-wicon {
  display: inline-flex;
  align-items: center;
  max-width: calc(100% - 14px);
}
.navbar ul .menu-item-wicon > img {
  flex: 0 0 24px;
}
.navbar ul .menu-item-wicon > span {
  flex: 0 0 calc(100% - 30px);
}
.navbar ul .menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  object-fit: contain;
  object-position: center;
}
.navbar,
.navbar__nav,
.navbar .sub-menu {
  background-color: var(--secondary-color);
}
.navbar__nav {
  flex: 1 0 0;
}
.navbar__nav > li {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar__nav > li > a,
.navbar .sub-menu > li > a {
  padding: 0.667rem 0.8rem;
}
.navbar__nav > li > a {
  display: block;
  color: var(--white-color);
}
.navbar__nav > li > a:hover,
.navbar__nav > li > a:focus,
.navbar__nav > li[class*="current-"]:not(.wpml-ls-item) > a {
  color: var(--primary-color);
}
.navbar .sub-menu > li {
  font-weight: inherit;
  text-transform: none;
}
.navbar .sub-menu > li + li {
  border-top: 1px solid rgba(170,170,170,0.4);
}
.navbar .sub-menu > li > a,
.navbar .sub-menu__panel {
  color: var(--white-color);
  background-color: transparent;
}
.navbar .sub-menu__panel:hover,
.navbar .sub-menu > li > a:hover,
.navbar .sub-menu > li > a:focus,
.navbar .sub-menu > li[class*="current-"] > a {
  color: var(--primary-color);
}
.navbar .sub-menu__panel {
  display: block;
  padding: 0.667rem 0;
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--primary-color);
  border-bottom: 2px solid rgba(170,170,170,0.4);
}
.navbar .sub-menu__panel .icon,
.navbar .sub-menu__panel .caret {
  float: none;
  color: inherit;
}
@media (hover: hover) {
  .navbar__nav > li > a,
  .navbar .sub-menu__panel {
    transition: color 0.2s ease;
  }
  .navbar .sub-menu > li > a {
    transition: background-color 0.2s ease, color 0.2s ease;
  }
}

/* ! Navbar: Buttons */
.navbar__logo {
  display: inline-block;
}
.navbar__logo > * {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}
.navbar__toggle,
.navbar__search {
  padding: 0;
  display: block;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.navbar__toggle {
  position: relative;
  z-index: 100;
}
.navbar__toggle .icon-bar {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--white-color);
}
.navbar__toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar__toggle .icon-bar:nth-of-type(2),
.navbar__toggle .icon-bar:nth-of-type(4) {
  transform: rotate(0);
  transition: transform 0.2s ease 0.175s;
}
.navbar__toggle .icon-bar:nth-of-type(2) {
  transform-origin: 10% 10%;
}
.navbar__toggle .icon-bar:nth-of-type(3) {
  opacity: 1;
  transition: opacity 0.2s ease 0.175s;
}
.navbar__toggle .icon-bar:nth-of-type(4) {
  transform-origin: 10% 90%;
}
.navbar__toggle--dismiss .icon-bar:nth-of-type(2) {
  transform: rotate(45deg);
}
.navbar__toggle--dismiss .icon-bar:nth-of-type(3) {
  opacity: 0;
}
.navbar__toggle--dismiss .icon-bar:nth-of-type(4) {
  transform: rotate(-45deg);
}

/* ! Language */
.lang-menu {
  font-weight: 500;
  font-size: 0.9333rem;
  position: relative;
  display: inline-block;
  padding: 1px 0.667rem;
  text-align: center;
  z-index: 200;
}
.lang-menu > span[role="button"] {
  cursor: pointer;
  touch-action: manipulation;
  background-color: var(--white-color);
}
.lang-menu > span[role="button"]:after {
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: baseline;
  background-image: url('../img/list-chevron.svg');
  background-position: center;
  background-size: 10px auto;
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}
.lang-menu--open > span[role="button"]:after {
  transform: rotate(-90deg);
}
.lang-menu__dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  text-align: left;
  padding: 1.8rem 0 0.667rem;
  background-color: var(--white-color);
  box-shadow: 0 0 0px rgba(34,34,34,0);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  right: -2.5px;
  z-index: -1;
}
.lang-menu--open .lang-menu__dropdown {
  box-shadow: 0 0 6px rgba(34,34,34,0.15);
}
.lang-menu__dropdown > li {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.lang-menu__dropdown > li + li {
  margin-top: 2.5px;
}
.lang-menu__dropdown > li > a {
  color: inherit;
  transition: color 0.2s ease;
}
.lang-menu__dropdown > li > a:hover {
  color: var(--primary-color);
}
.lang-menu__dropdown > li > a,
.lang-menu__dropdown > li > a:hover,
.lang-menu__dropdown > li > a:focus {
  text-decoration: none;
}

/* ! Search form */
.search-form {
  position: relative;
}
.search-form__group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.search-form__group .btn {
  margin-left: -1px;
}
.navbar .search-form {
  position: initial;
  margin-top: 0.8rem;
}
.navbar .search-form .icon-search {
  float: none;
  color: inherit;
  width: 24px;
  height: 24px;
}
.navbar .search-form .btn,
.navbar .search-form input[name="s"] {
  color: var(--white-color) !important;
}
.navbar .search-form input[name="s"] {
  width: calc(100% - 40px);
  background-color: transparent !important;
  border-bottom-width: 1px !important;
  border-bottom-color: rgba(170,170,170,0.4) !important;
}
.navbar .search-form input[name="s"]:focus {
  border-bottom-color: var(--white-color) !important;
}
.navbar .search-form ::-moz-placeholder {
  color: rgba(234,234,234,0.4);
  opacity: 1;
}
.navbar .search-form :-ms-input-placeholder {
  color: rgba(234,234,234,0.4);
}
.navbar .search-form ::-webkit-input-placeholder {
  color: rgba(234,234,234,0.4);
}

/* ! Breadcrumb */
.breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  justify-content: flex-end;
  color: var(--primary-color);
}
.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus {
  color: var(--primary-color);
  text-decoration: none;
}
.breadcrumb a:hover {
  opacity: 0.7;
}
.breadcrumb__item,
.breadcrumb__item:before {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb__item + .breadcrumb__item {
  padding-left: 0.333rem;
}
.breadcrumb__item [aria-current="page"] {
  color: inherit;
  display: inline-block;
}

/* ! Pagination */
.pagination {
  display: flex;
  margin-top: 2.4rem;
  align-items: center;
  justify-content: center;
}
.page-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.page-numbers > li {
  width: 44px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.page-numbers > li + li {
  margin-left: 1rem;
}
.page-numbers > li > * {
  display: block;
  padding: 0 2px;
  font-size: 1rem;
  line-height: 42px;
  border-radius: 3px;
}
.page-numbers > li > a:not(.prev):not(.next) {
  border: 1px solid var(--text-color);
}
.page-numbers > li > a,
.page-numbers > li > a:hover,
.page-numbers > li > a:focus {
  color: var(--text-color);
  text-decoration: none;
}
.page-numbers > li > a .icon {
  width: 18px;
  height: 18px;
  margin-top: -3px;
}
.page-numbers > li > a.prev,
.page-numbers > li > a.next {
  position: relative;
}
.page-numbers > li > a.prev {
  right: -1rem;
}
.page-numbers > li > a.next {
  left: -1rem;
}
@media (hover: hover) {
  .page-numbers > li > a {
    transition: color 0.2s ease, border-color 0.2s ease;
  }
  .page-numbers > li > a:hover {
    color: var(--text-light-color);
  }
  .page-numbers > li > a:hover:not(.prev):not(.next) {
    border-color: var(--text-light-color);
  }
}
.page-numbers > li > .current {
  color: var(--white-color);
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.embed-responsive {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--light-color);
}
.embed-responsive--4by3,
.embed-responsive--map {
  padding-bottom: 75%;
}
.embed-responsive--16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive--21by9 {
  padding-bottom: 42.85%;
}
.embed-responsive__item,
.embed-responsive iframe,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ! Widgets */
.widget,
.fwidget {
  position: relative;
}
.widget + .widget {
  margin-top: 2.4rem;
}
.widget-title,
.widget-cf7-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.widget-title {
  font-weight: 700;
  padding-bottom: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-color);
}
[class*="widget_"] ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
class*="widget_"] ul li {
  padding-left: 2rem;
  text-indent: -1rem;
}
[class*="widget_"] ul li:before {
  content: '\2013';
  position: relative;
  left: -1rem;
  color: var(--primary-color);
}
[class*="widget_"] ul li + li {
  margin-top: 0.5rem;
}
.widget[class*="widget_"] ul li a {
  color: var(--primary-color);
}
.widget[class*="widget_"] ul li a:hover,
.widget[class*="widget_"] ul li a:focus {
  color: var(--primary-light-color);
}
.widget .search-form input[name="s"] {
  height: 38px;
}
.fwidget {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 2rem;
}
.fwidget-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--white-color);
}
.fwidget img {
  margin-bottom: 1.4rem;
}
.fwidget ul > li:not(:first-child) {
  margin-top: 0.8rem;
}

/* ! Rich Text */
img[class*="align"] {
  margin-bottom: 15px;
}
img.alignleft {
  float: left;
  margin-right: 15px;
}
img.alignright {
  float: right;
  margin-left: 15px;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ! Content */
#main-content {
  margin-top: 60px;
  margin-bottom: 75px;
}

/* ! Responsive */
@media (max-width: 575px) {
  .btn {
    white-space: inherit;
  }
}
@media (min-width: 576px) {
  .not-found__text {
    font-size: 172px;
  }
}
@media (max-width: 991px) {
  .navbar {
    height: 56px;
    position: relative;
  }
  .navbar ul {
    padding: 0 1rem;
  }
  .navbar ul .caret,
  .navbar ul .icon {
    color: var(--primary-color);
  }
  .navbar__nav,
  .navbar .sub-menu {
    position: fixed;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: transform 0.2s ease-in, visibility 0.05s ease 0.2s;
  }
  .navbar__nav {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    top: 56px;
    height: calc(100vh - 56px);
    transform: translateX(-100%);
  }
  .navbar__nav > li + li {
    border-top: 1px solid rgba(170,170,170,0.4);
  }
  .navbar .sub-menu {
    top: 0;
    height: 100%;
    transform: translateX(100%);
  }
  .navbar__nav--offcanvas,
  .navbar li[class*="has-children"].active > .sub-menu {
    visibility: visible;
    transform: translateX(0%);
    transition: transform 0.2s ease-out 0.05s, visibility 0.05s ease 0s;
  }
  .navbar ul .menu-icon {
    filter: brightness(0) invert(1);
  }
}
@media (min-width: 992px) {
  .not-found__text {
    font-size: 256px;
  }
  .navbar,
  .navbar__nav,
  .navbar .sub-menu {
    background-color: transparent;
  }
  .navbar__nav {
    display: flex;
    align-items: stretch;
    justify-content: center;
    line-height: 26px !important;
  }
  .navbar__nav > li > a {
    padding-top: 1.066rem;
    padding-bottom: 1.066rem;
  }
  .navbar__nav > li > a > .caret,
  .navbar__nav > li > a > .icon {
    float: none;
  }
  .navbar__nav > li > a > .caret,
  .navbar__nav > li > a > .icon-right {
    margin-left: 0.5rem;
    transform: rotate(90deg);
  }
  .navbar .sub-menu {
    display: none;
    max-height: 320px;
    font-size: 0.9333rem;
    line-height: 1.1;
    position: absolute;
    z-index: 1040;
  }
  .navbar .sub-menu .sub-menu {
    top: -2px;
    left: 100%;
  }
  .navbar .sub-menu > li {
    width: clamp(190px, 18vw, 230px);
    background-color: var(--white-color);
  }
  .navbar .sub-menu > li:nth-child(2),
  .navbar .sub-menu > li:nth-child(8) {
    border-top: 2px solid var(--primary-color);
  }
  .navbar .sub-menu > li > a {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    background-color: transparent;
  }
  .navbar .sub-menu > li > a:hover,
  .navbar .sub-menu > li > a:focus,
  .navbar .sub-menu > li[class*="current-"] > a {
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  .navbar .sub-menu__panel,
  .navbar__nav > li.wpml-ls-item {
    display: none;
    visibility: hidden;
  }
  .navbar li[class*="has-children"] {
    position: relative;
  }
  .navbar li[class*="has-children"].active > .sub-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navbar ul .menu-icon {
    transition: filter 0.2s ease;
  }
  .navbar ul li[class*="current-"] > a > span > .menu-icon,
  .navbar ul li > a:hover > span > .menu-icon {
    filter: brightness(0) invert(1);
  }
  .navbar__logo {
    overflow: hidden;
    width: 0px;
    transition: width 0.2s ease;
  }
  .navbar__logo .site-logo,
  .navbar__logo .site-logo img {
    max-width: inherit;
  }
  .navbar__logo .site-logo img {
    width: 200px;
  }
  .navbar__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar__nav > li > a {
    padding-left: 1.333rem;
    padding-right: 1.333rem;
  }
}
@media (min-width: 1366px) {
  .breadcrumb {
    font-size: 0.9333rem;
  }
  .not-found__text {
    font-size: 272px;
  }
}

/* ! WPCF7 */
.wpcf7-form,
.wpcf7-form-control-wrap .wpcf7-list-item-label {
  color: var(--text-color);
}
.wpcf7-form {
  font-size: inherit;
}
.wpcf7-form-control-wrap,
.wpcf7-form-control-wrap > * {
  display: block;
}
.wpcf7-form-control-wrap > * {
  width: 100%;
}
.wpcf7-form-control {
  height: 38px;
  color: inherit;
  padding: 6px 12px;
  border-radius: 0px;
}
.wpcf7-form-control.wpcf7-select {
  cursor: pointer;
  padding-right: 32px;
}
.wpcf7-form-control.wpcf7-textarea,
.wpcf7-form-control.wpcf7-submit {
  height: auto;
}
.wpcf7-form-control.wpcf7-submit {
  position: relative;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  display: inline-block;
  padding: 0.6rem 1.4rem;
  min-width: 170px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0px;
  background-image: none;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  letter-spacing: 0.05em;
  transition: all 0.2s ease;
}
.wpcf7-form-control.wpcf7-submit[disabled] {
  opacity: 0.6;
}
.wpcf7-form-control.wpcf7-submit,
.wpcf7-form-control.wpcf7-submit:focus {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.wpcf7-form-control.wpcf7-submit:hover {
  color: var(--white-color);
  border-color: var(--primary-light-color);
  background-color: var(--primary-light-color);
}
.wpcf7-form-control.wpcf7-submit:active:focus {
  color: var(--white-color);
  border-color: var(--primary-dark-color);
  background-color: var(--primary-dark-color);
}
@media (max-width: 575px) {
  .wpcf7-form-control.wpcf7-submit {
    display: block;
    width: 100%;
    min-width: inherit;
  }
}
.wpcf7-form-control.wpcf7-submit:focus {
  box-shadow: none !important;
}
.wpcf7-form-control.wpcf7-file,
.wpcf7-form-control.wpcf7-radio,
.wpcf7-form-control.wpcf7-checkbox,
.wpcf7-form-control.wpcf7-acceptance {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.wpcf7-form-control.wpcf7-radio,
.wpcf7-form-control.wpcf7-checkbox,
.wpcf7-form-control.wpcf7-acceptance {
  height: auto !important;
}
.wpcf7-form > .wpcf7-form-control-wrap,
.wpcf7-form > .row > [class^="col-"] > .wpcf7-form-control-wrap {
  margin-bottom: 1.8667rem;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item {
  display: block;
  margin: 0 !important;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item > label,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item > label {
  cursor: pointer;
  touch-action: manipulation;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"],
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  line-height: 24px;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:before,
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:after,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 0.2s ease;
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span:after {
  content: '\2713';
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:before,
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:after {
  width: 16px;
  height: 16px;
  margin: 4px 0;
  border-radius: 50%;
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span:before,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span:after {
  width: 18px;
  height: 18px;
  margin: 3px 0;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:before,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span:before {
  border: 1px solid var(--border-color);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span:after {
  transform: scale(0);
  background-color: var(--primary-color);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"]:checked + span:before,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"]:checked + span:before {
  border-color: var(--primary-color);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"]:checked + span:after {
  transform: scale(0.5);
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
  color: var(--primary-color);
}
.wpcf7-form-control-wrap.privacy .wpcf7-list-item,
.wpcf7-form-control-wrap.privacy input {
  margin: 0;
}
.wpcf7-form-control-wrap.privacy label {
  font-weight: 400;
}
.wpcf7-form-control-wrap.privacy .wpcf7-list-item-label {
  font-size: inherit;
  display: inline-block;
  white-space: normal;
  padding-left: 30px;
}
.widget .wpcf7-form-control-wrap.privacy .wpcf7-list-item-label {
  font-size: 13px;
  padding-left: 24px;
}
.wpcf7-form .wpcf7-acceptance label {
  margin: 0;
  position: relative;
  cursor: pointer;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:before,
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:after {
  position: absolute;
  top: 1%;
  left: 0px;
  height: 18px;
  width: 18px;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:before {
  content: '';
  display: block;
  border-radius: 1px;
  background: transparent;
  border: 1px solid var(--border-color);
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:after {
  content: '\2713';
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  visibility: hidden;
}
body[class*="woocommerce"] .wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:after {
  content: '\e017';
  font-family: 'WooCommerce';
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:before {
  background: transparent;
}
.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:after {
  visibility: visible;
}
div.wpcf7 .ajax-loader {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 100;
  margin: -10px 0 0 15px;
  background-size: 100% auto;
  background-color: transparent;
  background-image: url('../img/wpcf7-ajax-loader.gif');
}
div.wpcf7 .ajax-loader:before {
  display: none;
}
.wpcf7 form .wpcf7-response-output {
  font-size: inherit;
  color: var(--text-color);
  background-color: transparent;
  border-color: var(--border-color);
  border-radius: 0px !important;
  padding: 10px 15px !important;
  margin: 25px 0 0 !important;
}
.widget .wpcf7 form .wpcf7-response-output {
  font-size: 0.8rem;
}
.wpcf7 form.sent .wpcf7-response-output {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
span.wpcf7-not-valid-tip {
  font-size: 11px !important;
  position: absolute;
  bottom: -16px;
  left: 0;
}
.cf-submit,
.cf-upload,
.cf-upload .wpcf7-form-control-wrap {
  position: relative;
}
.cf-submit {
  margin-top: 2rem;
}
.cf-upload {
  margin-bottom: 2.6665rem;
}
.cf-upload h6 {
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 20px;
}
.cf-upload h6 > small {
  color: inherit;
  font-size: inherit;
  font-weight: 400;
}
.cf-upload .wpcf7-form-control-wrap:before {
  content: "Sfoglia...";
  position: absolute;
  left: 0;
  width: 180px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  padding: 10px 25px;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.cf-upload .wpcf7-form-control-wrap > input {
  opacity: 0;
  height: 38px !important;
}
.cf-upload span[aria-hidden="true"] {
  position: absolute;
  right: 0;
  left: 200px;
  bottom: 9px;
}
.cf-select {
  position: relative;
  cursor: pointer;
}
.cf-select:after {
  content: '';
  opacity: 0.8;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  right: 12px;
  margin-top: -6px;
  pointer-events: none;
  transform: rotate(90deg);
  background-image: url('../img/list-chevron.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

/* ! Supports */
@supports not (object-fit: cover) {
  .selector { font-family: 'object-fit: cover; object-position: center;'; }
}

/* ! Chrome Hacks */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .fwidget img,
  .site-logo img {
    image-rendering: -webkit-optimize-contrast;
  }
}
